diag.txt
[Oo]bj/
[Bb]in/
TestResults/
.nuget/
.build/
.testPublish/
*.sln.ide/
packages/
artifacts/
PublishProfiles/
.vs/
*.user
*.suo
*.cache
*.docstates
nuget.exe
.settings
.vscode/
korebuild-lock.txt
global.json
.ionide/
.idea/