name: CI

on:
  - push
  - pull_request

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        # Check https://github.com/dotnet/core/blob/master/release-notes/releases-index.json for updates
        dotnet:
          - "2.1.805" # Latest 2.1
          - "2.2.207" # Latest 2.2
          - "3.0.103" # Latest 3.0
          - "3.1.201" # Latest 3.1

    env:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: "true"
      DOTNET_CLI_TELEMETRY_OPTOUT: "1"

    steps:
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}

      - uses: actions/checkout@master
      - name: Fetch all history for all tags and branches
        run: git fetch --prune --unshallow

      - name: Output version
        run: bash ./script/git-version.sh --verbose get

      - name: Restore
        run: dotnet msbuild build/build.proj -target:Restore

      - name: Build
        run: dotnet msbuild build/build.proj -target:Build -p:NoRestore=true

      - name: Test
        run: dotnet msbuild build/build.proj -target:Test -p:NoRestore=true
